<div
  class="bg-[url('/assets/images/testimonialbg.png')] bg-center bg-cover bg-no-repeat py-[60px] mt-[70px] md:mt-[80px] xl:mt-[100px]"
>
  <div class="container overflow-hidden">
    <div class="flex flex-col gap-[30px] md:gap-10 xl:gap-[50px]">
      <div class="relative z-[3] flex flex-col gap-[10px]">
        <div
          data-aos="fade-up"
          class="flex justify-center items-center gap-[5px]"
        >
          <img src="assets/images/subicon2.svg" alt="icon" />
          <p class="text-body1 text-primary-light">Testimonios</p>
        </div>
        <div class="">
          <h2
            class="headline text-[28px] sm:text-[36px] md:text-[40px] xl:text-[44px] leading-10 sm:leading-[46px] md:leading-[50px] xl:leading-[56px] font-bold text-secondary-white text-center"
          >
            Historias de clientes: resultados reales
          </h2>
        </div>
      </div>

      <div
        data-aos="fade-up"
        data-aos-duration="1000"
        class="swiper testimonial-slider w-full lg:w-[810px] mx-auto overflow-hidden"
      >
        <div class="swiper-wrapper cursor-pointer">
          <div class="swiper-slide overflow-hidden">
            <p
              class="text-body1 md:text-[20px] lg:text-[22px] xl:text-[24px] md:leading-[26px] lg:leading-7 xl:leading-8 font-medium text-secondary-white text-center"
            >
              “Desde que lanzamos nuestra nueva web, recibimos el doble de consultas y nuestros clientes nos felicitan por la imagen profesional. ¡Excelente trabajo!”
            </p>

            <div
              class="mt-5 md:mt-[30px] flex flex-col items-center text-center"
            >
              <h5
                class="text-body1 md:text-[20px] lg:text-[22px] xl:text-[24px] md:leading-[26px] lg:leading-7 xl:leading-8 font-bold text-secondary-white"
              >
                Laura Fernández
              </h5>
              <p class="text-body1 text-primary-light">Emprendedora</p>
            </div>
          </div>
          <div class="swiper-slide overflow-hidden">
            <p
              class="text-body1 md:text-[20px] lg:text-[22px] xl:text-[24px] md:leading-[26px] lg:leading-7 xl:leading-8 font-medium text-secondary-white text-center"
            >
              “El equipo entendió perfectamente lo que necesitaba. Ahora mi negocio tiene presencia online y los clientes me encuentran fácilmente.”
            </p>

            <div
              class="mt-5 md:mt-[30px] flex flex-col items-center text-center"
            >
              <h5
                class="text-body1 md:text-[20px] lg:text-[22px] xl:text-[24px] md:leading-[26px] lg:leading-7 xl:leading-8 font-bold text-secondary-white"
              >
                Martín Gómez
              </h5>
              <p class="text-body1 text-primary-light">Dueño de local</p>
            </div>
          </div>
          <div class="swiper-slide overflow-hidden">
            <p
              class="text-body1 md:text-[20px] lg:text-[22px] xl:text-[24px] md:leading-[26px] lg:leading-7 xl:leading-8 font-medium text-secondary-white text-center"
            >
              “Gracias a la web que nos diseñaron, nuestra marca se ve mucho más profesional y recibimos más pedidos que nunca.”
            </p>

            <div
              class="mt-5 md:mt-[30px] flex flex-col items-center text-center"
            >
              <h5
                class="text-body1 md:text-[20px] lg:text-[22px] xl:text-[24px] md:leading-[26px] lg:leading-7 xl:leading-8 font-bold text-secondary-white"
              >
                Sofía Martínez
              </h5>
              <p class="text-body1 text-primary-light">Tienda online</p>
            </div>
          </div>
          <div class="swiper-slide overflow-hidden">
            <p
              class="text-body1 md:text-[20px] lg:text-[22px] xl:text-[24px] md:leading-[26px] lg:leading-7 xl:leading-8 font-medium text-secondary-white text-center"
            >
              “Muy recomendables. La web es rápida, fácil de usar y desde el primer mes notamos más consultas de potenciales clientes.”
            </p>

            <div
              class="mt-5 md:mt-[30px] flex flex-col items-center text-center"
            >
              <h5
                class="text-body1 md:text-[20px] lg:text-[22px] xl:text-[24px] md:leading-[26px] lg:leading-7 xl:leading-8 font-bold text-secondary-white"
              >
                Ricardo López
              </h5>
              <p class="text-body1 text-primary-light">Profesional independiente</p>
            </div>
          </div>
          <div class="swiper-slide overflow-hidden">
            <p
              class="text-body1 md:text-[20px] lg:text-[22px] xl:text-[24px] md:leading-[26px] lg:leading-7 xl:leading-8 font-medium text-secondary-white text-center"
            >
              “El sitio web superó mis expectativas. Ahora mi empresa transmite confianza y profesionalismo, y eso se nota en los resultados.”
            </p>

            <div
              class="mt-5 md:mt-[30px] flex flex-col items-center text-center"
            >
              <h5
                class="text-body1 md:text-[20px] lg:text-[22px] xl:text-[24px] md:leading-[26px] lg:leading-7 xl:leading-8 font-bold text-secondary-white"
              >
                Esteban Ruiz
              </h5>
              <p class="text-body1 text-primary-light">Empresario</p>
            </div>
          </div>
        </div>

        <div
          class="testimonial-pagination !mt-[30px] text-center relative"
        ></div>
      </div>
    </div>
  </div>
</div>

