<div
  class="bg-[url(/assets/images/wearebg.png)] bg-cover bg-center bg-no-repeat w-full bg-fixed py-[90px] sm:py-[107px] overflow-hidden mt-[70px] md:mt-[80px] xl:mt-[100px]"
>
  <div class="container">
    <div class="flex flex-col gap-5 w-full xl:w-[42%]">
      <div class="flex flex-col gap-[10px]">
        <div
          data-aos="fade-up"
          class="flex justify-start items-center gap-[5px]"
        >
          <img src="assets/images/subicon2.svg" alt="icon" />
          <p class="text-body1 text-primary-light">¿Quiénes somos?</p>
        </div>
        <div class="">
          <h2
            class="headline text-secondary-white text-[28px] sm:text-[36px] md:text-[40px] xl:text-[44px] leading-10 sm:leading-[46px] md:leading-[50px] xl:leading-[56px] font-bold"
          >
            Impulsamos el crecimiento de tu negocio online
          </h2>
        </div>
        <p
          data-aos="fade-up"
          class="text-body2 sm:text-body1 text-secondary-white"
        >
          Creamos páginas web profesionales que potencian tu presencia digital, atraen clientes y ayudan a que tu negocio crezca. Nuestro equipo te acompaña en cada paso para que tu marca destaque y genere resultados reales en internet.
        </p>

        <div
          data-aos="fade-up"
          class="flex justify-start items-center mt-2 sm:mt-5 xl:mt-[50px]"
        >
          <a
            href="abouts.html"
            class="flex justify-center items-center gap-[10px] theme-btn2 relative z-[1] py-2 xl:py-[10px] px-5 xl:px-[22px] rounded-[30px] text-secondary-white transition-all duration-500 ease-linear bg-primary-dark group"
          >
            <p
              class="text-body3 md:text-body2 xl:text-body1 font-medium group-hover:text-primary-dark transition-all duration-300 ease-linear"
            >
              Conocé más
            </p>
            <svg
              class="w-[14px] md:w-[16px] xl:w-[18px] h-[14px] md:h-[16px] xl:h-[18px]"
              viewBox="0 0 18 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.682724 4.97469C2.08646 2.21852 4.98256 0.284124 8.0528 0.0519076C8.38097 0.0271321 8.69909 0.00392863 8.7598 0.000397033C8.82051 -0.00313456 9.17517 0.0172919 9.54793 0.0458163C13.9025 0.379199 17.3318 3.58904 17.9531 7.91329C18.0498 8.58658 17.9895 10.1486 17.8404 10.8308C17.5793 12.0257 17.0025 13.3252 16.3091 14.2809C15.8282 14.9438 14.8652 15.891 14.1961 16.3593C13.2031 17.0544 11.9161 17.607 10.6639 17.8762C10.1548 17.9856 9.93361 18.0006 8.84258 18C7.67617 17.9993 7.56083 17.99 6.94285 17.8467C5.06927 17.4124 3.71697 16.6811 2.41109 15.396C1.38724 14.3886 0.745634 13.418 0.273141 12.1619C0.166346 11.878 0.0619137 11.5662 0.0409961 11.4689L0.00303078 11.2919L4.29863 11.3059L8.59423 11.3198L8.62182 13.3844L8.64942 15.449L11.8919 12.2617C13.6753 10.5086 15.1344 9.05379 15.1344 9.02874C15.1344 9.00364 13.6691 7.54079 11.8781 5.77787L8.62182 2.5726V4.65064V6.72869H4.31095H0L0.0379654 6.57928C0.11424 6.27931 0.472886 5.38674 0.682724 4.97469Z"
                class="fill-secondary-white group-hover:fill-primary-dark transition-all duration-300 ease-linear"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
